<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>WebStore</title>
</head>
<body>
    
    <header id="header">
        <a href="/">
            <h1>CARRITO</h1>
        </a>
        <div class="div-boton-pay">
            <button class="button-pay">Pagar</button>
        </div>
    </header>

<main id="main" class="pag-nav">
    <div id="contenedor-productos"></div>
</main>

<template id="id-content">
    <div class="pag-content">
        <div class="product-container">
            <h2 class="title">Nombre</h2>
            <picture>
                <img src="img/product.jpg">
            </picture>
            <section class="descripcion">
                <h3 class="price">$<span class="span-price">100</span> </h3>
                <button id="button-add" class="button">Agregar</button>
            </section>
        </div>
    </div>
</template>

    <script src="scripts.js"></script>

</body>
</html>

