<%- include('./partials/head.ejs') %> 

<body>

<%- include('./partials/header.ejs') %> 

<main id="main" class="pag-nav">
    <div id="contenedor-productos"></div>
</main>

<template id="id-content">
    <div class="pag-content">
        <div class="product-container">
            <h2 class="title">Nombre</h2>
            <picture>
                <img src="img/product.jpg">
            </picture>
            <section class="descripcion">
                <h3 class="price">$<span class="span-price">100</span> </h3>
                <button id="button-add" class="button">Agregar</button>
            </section>
        </div>
    </div>
</template>

    <script src="/scripts/scripts.js"></script>

</body>
</html>

