    <header id="header">
        <a href="/">
            <h1>CARRITO</h1>
        </a>
        <div class="div-boton-pay">
            <button class="button-pay">Pagar</button>
        </div>
    </header>